@primary_color: #04142d;
@secondary_color: #c61010;
@background_color_body_0: #ccd3e8;
@background_color_body_50: #ccd3e8;
@background_color_body_73: #ccd3e8;
@background_color_body_100: #ccd3e8;
@background_color_widget: #ccd3e8;