#sim{
	background: #141a1e;
	background: -moz-linear-gradient(top, #0d1113 0%, #3a3e43 50%, #303030 73%, #26272a 100%);
	background: -webkit-linear-gradient(top, #0d1113 0%, #3a3e43 50%, #303030 73%, #26272a 100%);
	background: linear-gradient(to bottom, #0d1113 0%, #3a3e43 50%, #303030 73%, #26272a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141a1e', endColorstr='#515359', GradientType=0);
}
.controlsMenuButton {
	position: fixed;
	top: 5px;
	right: 390px;
	height: 27px;
    padding-left: 9px;
}

.controlsMenuButton:disabled {
	background: 0;
}
