Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed (from ./node_modules/html-webpack-plugin/lib/loader.js):
  Error: ENOENT: no such file or directory, open '/home/user/netpyne/webapp/WEB-  INF/web.ejs':
  Error: ENOENT: no such file or directory, open '/home/user/netpyne/webapp/WEB-  INF/web.ejs'
  
  - compiler.js:79 
    [webapp]/[html-webpack-plugin]/lib/compiler.js:79:16
  
  - Compiler.js:339 
    [webapp]/[webpack]/lib/Compiler.js:339:11
  
  - Compiler.js:664 
    [webapp]/[webpack]/lib/Compiler.js:664:15
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [webapp]/[webpack]/[tapable]/lib/Hook.js:154:20
  
  - Compiler.js:661 
    [webapp]/[webpack]/lib/Compiler.js:661:31
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [webapp]/[webpack]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1395 
    [webapp]/[webpack]/lib/Compilation.js:1395:35
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [webapp]/[webpack]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1386 
    [webapp]/[webpack]/lib/Compilation.js:1386:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [webapp]/[webpack]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1381 
    [webapp]/[webpack]/lib/Compilation.js:1381:36
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [webapp]/[webpack]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1377 
    [webapp]/[webpack]/lib/Compilation.js:1377:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [webapp]/[webpack]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1314 Compilation.seal
    [webapp]/[webpack]/lib/Compilation.js:1314:27
  
  - Compiler.js:658 
    [webapp]/[webpack]/lib/Compiler.js:658:18
  
  - Compilation.js:1234 
    [webapp]/[webpack]/lib/Compilation.js:1234:4
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [webapp]/[webpack]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1226 Compilation.finish
    [webapp]/[webpack]/lib/Compilation.js:1226:28
  
  - Compiler.js:655 
    [webapp]/[webpack]/lib/Compiler.js:655:17
  
  
  - Compilation.js:1158 
    [webapp]/[webpack]/lib/Compilation.js:1158:12
  
  - Compilation.js:1070 
    [webapp]/[webpack]/lib/Compilation.js:1070:9
  
  - task_queues.js:79 processTicksAndRejections
    internal/process/task_queues.js:79:11
  
</pre>